<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="shortcut icon" href="{{ url_for('static', filename='dom.png') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>События / АБС-Монитор</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ url_for('static', filename='css/paper-dashboard.css') }}" rel="stylesheet">


    <!--  Шрифты и иконки     -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='dom.png') }}">

    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    АБС-Монитор
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/index">
                        <i class="ti-panel"></i>
                        <p>Главная</p>
                    </a>
                </li>
                <li>
                    <a href="/servers">
                        <i class="ti-layout-accordion-merged"></i>
                        <p>Серверы</p>
                    </a>
                </li>
                <li>
                    <a href="/test">
                        <i class="ti-view-list-alt"></i>
                        <p>Отладка</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/logs">
                        <i class="ti-bell"></i>
                        <p>События</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Развернуть навигацию</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Главная</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Статистика</p>
                            </a>
                        </li>
						<li>
                            <a href="/configure">
								<i class="ti-settings"></i>
								<p>Настройки</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Журнал ошибок и предупреждений</h4>
                            </div>
                            <div class="content">
                                <div class="footer">
                                {{ error_list | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Скриптовая часть -->
    <script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
    <script>window.jQuery || document.write('<script src="http://code.jquery.com/jquery-latest.min.js"><\/script>')</script>

    </div><!-- /.container -->

       <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">

                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, Мария Хасанова
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script>
        $('document').ready(function () {
            $('#modal').modal();
        });
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap-checkbox-radio.js') }}"></script>
	<!--  Charts Plugin -->

    <script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>
    <!--  Notifications Plugin    -->

    <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{{ url_for('static', filename='js/paper-dashboard.js') }}"></script>
</html>