<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="shortcut icon" href="{{ url_for('static', filename='dom.png') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Серверы / АБС-Монитор</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ url_for('static', filename='css/paper-dashboard.css') }}" rel="stylesheet">


    <!--  Шрифты и иконки     -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='dom.png') }}">

    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

</head>
<body>
<!-- МОДАЛЬНЫЕ ОКНА! -->
<!-- Добавление сервачка -->

<div class="modal fade" id="addNewServer" tabindex="-1" role="dialog" aria-labelledby="addNewServerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Добавление сервера АБС</h5>
      </div>
      <form action="/servers" method="post" role="form" id="add-new-server">
      <div class="modal-body">

              <div class="form-group">
                <label>Введите название сервера</label>
                <input type="text" name="ServerName" class="form-control" placeholder="Введите название сервера" required autofocus>

                <label for="ip_address">Введите IP-адрес сервера</label>
                <input type="text" name="ServerIpAddress" class="form-control" placeholder="IP-адрес" required>

                <label for="ServerOs">Введите название операционной системы сервера</label>
                <input type="text" name="ServerOS" class="form-control" placeholder="Операционная система" required>
              </div>
              <div class="form-group">
                  <label for="checks">Выберете нужные проверки</label>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkStatus">
                      <label class="form-check-label" for="checkStatus">
                        Проверять доступность сервера
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkCPU">
                      <label class="form-check-label" for="checkCPU">
                        Проверять загруженность центрального процессора
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkHDD">
                      <label class="form-check-label" for="checkHDD">
                        Проверять свободное место на жестком диске
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="sendSMS">
                      <label class="form-check-label" for="sendSMS">
                        Отправлять СМС-сообщения оператору
                      </label>
                    </div>
              </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="addnewserver" class="btn btn-primary">Добавить в базу</button>
      </div>
         </form>
    </div>
  </div>
</div>


<!-- Удаление сервачка -->

<div class="modal fade" id="deleteServer" tabindex="-1" role="dialog" aria-labelledby="deleteServerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Какой сервер вы хотите удалить?</h5>
      </div>
      <div class="modal-body">
          {{ delbutton | safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="deleteserver" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    АБС-Монитор
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/index">
                        <i class="ti-panel"></i>
                        <p>Главная</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/servers">
                        <i class="ti-layout-accordion-merged"></i>
                        <p>Серверы</p>
                    </a>
                </li>
                <li>
                    <a href="/test">
                        <i class="ti-view-list-alt"></i>
                        <p>Отладка</p>
                    </a>
                </li>
                <li>
                    <a href="/logs">
                        <i class="ti-bell"></i>
                        <p>События</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Развернуть навигацию</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Главная</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Статистика</p>
                            </a>
                        </li>
						<li>
                            <a href="/configure">
								<i class="ti-settings"></i>
								<p>Настройки</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Список серверов для мониторинга</h4>
                            </div>
                            <div class="content">
                                <div class="footer">
                                {{ server_list|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                            <div class="content">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewServer">
                                      Добавить новый сервер
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteServer">
                                      Удалить сервер
                                    </button>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Скриптовая часть -->
    <script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
    <script>window.jQuery || document.write('<script src="http://code.jquery.com/jquery-latest.min.js"><\/script>')</script>

    </div><!-- /.container -->

       <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">

                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, Мария Хасанова
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script>
        $('document').ready(function () {
            $('#modal').modal();
        });
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap-checkbox-radio.js') }}"></script>
	<!--  Charts Plugin -->

    <script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>
    <!--  Notifications Plugin    -->

    <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{{ url_for('static', filename='js/paper-dashboard.js') }}"></script>
<script>
    $(function() {
    $('#addnewserver').click(function() {
        $.ajax({
            url: '/add_server',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    $('#deleteserver').click(function() {
        $.ajax({
            url: '/delete_server',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    })

});</script>

</html>